.clear:after {
	content: "";
	display: table;
	clear: both;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.hide {
	display: none;
}
/*как сделать, что бы при ajax запросе страница*/
.loader {
	position: absolute;
	z-index: 10;
	background-image: url('../img/gif/Processing.gif');
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #CCCCCC;
	display: none;
}

body {
	background-attachment: fixed;
	background-image: url('../img/bcg.jpg');
	background-size: 100%;
	width: 100%;
	margin-bottom: -1px;
	margin-top: -1px;
	margin-left: -0.5px;
	min-width: 180px;
}

body .start {
	height: 100%;
	overflow: auto;
	background: rgba(68, 69, 69, 0.95);
	max-width: 1400px;
	width: 90%;
	margin: 0 auto;
}

.head1 {
	font-family: "BeerRegular";
	font-size: 2.5em;
	line-height: 45px;
	min-height: 50px;
	background: rgb(199, 18, 21);
	display: block;
	padding-left: 3%;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: -4px;
}

.main {
	width: 85%;
	margin: 0 auto;
	min-height: 350px;
}

.unit {
	padding: 1%;
	margin-top: 3%;
	border-style: solid;
	border-radius: 10px;
	border-color: rgb(105, 3, 3);
}

.unitAdd {
	width: 50%;
	float: left;
	text-align: center;
	padding: 1%;
}

.addhide {
	width: 100%;
}

.frmfileAdd {
	margin: 1%;
}

span.file {
	font-size: 1.1em;
}

.btmFile {
	height: 40px;
	float: left;
	width: 30%;
}

.formHand {
	margin: 1%;
}

.formHand input[type=text] {
	height: 40px;
	width: 70%;
	float: left;
	font-size: 1.1em;
	padding-left: 1%;
}

.formHand input[type=submit] {
	height: 40px;
	width: 30%;
	float: left;
}

.search {
	width: 50%;
	float: left;
	padding: 1%;
}

.frm_unit, .statictest {
	width: 100%;
	margin: 3% auto;
	padding: 1%;
	border-style: solid;
	border-radius: 10px;
	border-color: rgb(105, 3, 3);
	overflow: hidden;
}

p {
	font-size: 1.5em;
}

.error {
	font-size: 1.5em;
	color: rgb(199, 18, 21);
	margin-bottom:8px;
	text-align:center;
}

.myName {
	display: block;
	text-shadow: 1px 1px 15px rgb(199, 18, 21);
	font-family: "BeerRegular";
	font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

a:visited, a:link {
	text-decoration: none;
}

.oneUnit {
	margin-bottom: 20px;
	border-bottom-style: solid;
	border-color: rgba(143, 141, 139, 0.15);
}

a.unitName, a.staticUnit {
	font-size: 1.9em;
	margin-top: 10px;
}

a.staticUnit {
	display: inline-block;
	width: 100%;
	border-bottom-style: solid;
	border-color: rgba(143, 141, 139, 0.15);
	border-bottom-style: solid;
}

a.unitName:active, a.staticUnit:active {
	text-shadow: 3px -2px 10px white;
}

a.unitName:hover, a.staticUnit:hover {
	font-size: 2.1em;
}

.typeRadio span {
	font-size: 1.3em;
}

.unitdiv {
	padding: 20px 0;
}

.wordEditIn {
	font-size: 1.3em;
	width: 20%;
	float: left;
	text-align: center;
}

.wordEditIn a:hover {
	font-size: 1.1em;
}

.wordEditIn a:active {
	text-shadow: 3px -2px 10px white;
}

span.rat {
	text-shadow: 1px 1px 15px rgb(199, 18, 21);
}

input[type=checkbox] {
	width: 30px;
	height: 20px;
}

.spisword {
	padding-top: 10px;
	color: white;
	font-size: 1.5em;
}

.btm_font {
	font-size: 1em;
	height: 40px;
}

.btm_big1 {
	height: 40px;
	min-width: 100px;
}

.size {
	width: 600px;
	height: 250px;
}

.center {
	font-size: 1.4em;
	text-align: center;
}

.rnmText {
	height: 35px;
	width: 80%;
	padding-top: 1px;
	font-size: 0.9em;
	font-family: "RobotoRegular";
}

.btm_big2 {
	margin-top: 4%;
	height: 50px;
	width: 50%;
	font-size: 1.1em;
}

.div_result_send {
	padding: 0 3%;
	text-align: center;
	font-size: 1.4em;
}

footer {
	width: 90%;
	height: 50px;
	background: rgb(199, 18, 21);
	margin: 0 auto;
	max-width: 1400px;
}

footer div {
	width: 100%;
	line-height: 50px;
	padding: 0 2%;
}

.l {
	width: 50%;
	display: inline-block;
	float: left;
}

.r {
	width: 50%;
	text-align: right;
	display: inline-block;
	float: right;
}

@media screen and (max-width: 280px) {
	body .start {
		width: 100%;
	}
	.head1, .head2 {
		display: none;
	}
	.main {
		width: 100%;
	}
	.unitAdd {
		width: 100%;
	}
	.btmFile {
		text-align: center;
		width: 80%;
		margin-top: 5px;
		float: none;
	}
	.div_result_send {
		padding: 0 2%;
		font-size: 1.1em;
	}
	span.file {
		font-size: 0.9em;
	}
	.formHand input[type=text] {
		width: 100%;
		font-size: 1.1em;
	}
	.formHand input[type=submit] {
		margin-top: 5px;
		width: 80%;
		float: none;
	}
	p, .error {
		font-size: 1.1em;
	}
	.search {
		margin-top: 5px;
		width: 100%;
	}
	.myName {
		font-size: 1.5em;
	}
	.oneUnit {
		margin-bottom: 10px;
	}
	a.unitName, a.staticUnit {
		font-size: 1.3em;
	}
	a.unitName:hover, a.staticUnit:hover {
		font-size: 1.5em;
	}
	.typeRadio span {
		font-size: 1.1em;
	}
	.wordEditIn {
		font-size: 1.1em;
		width: 100%;
		text-align: left;
	}
	input[type=checkbox] {
		width: 25px;
		height: 15px;
	}
	.spisword {
		font-size: 1.1em;
	}
	.btm_big1 {
		height: 40px;
		width: 100%;
	}
	.size {
		width: 100%;
		height: 200px;
	}
	.center {
		font-size: 0.9em;
	}
	.rnmText {
		width: 100%;
	}
	.btm_big2 {
		margin-top: 5px;
		height: 40px;
		width: 100%;
		font-size: 1em;
	}
	footer {
		width: 100%;
	}
}

@media screen and (min-width: 280px) and (max-width: 360px) {
	body .start {
		width: 94%;
	}
	.head1 {
		font-size: 1.4em;
		line-height: 30px;
		min-height: 0;
	}
	.main {
		width: 95%;
	}
	.unitAdd {
		width: 100%;
	}
	.btmFile {
		text-align: center;
		width: 80%;
		margin-top: 5px;
		float: none;
	}
	span.file {
		font-size: 0.9em;
	}
	.formHand input[type=text] {
		height: 40px;
		width: 100%;
		font-size: 1.1em;
	}
	.formHand input[type=submit] {
		height: 40px;
		margin-top: 5px;
		width: 80%;
		float: none;
	}
	p, .error {
		font-size: 1.15em;
	}
	input[type=checkbox] {
		width: 25px;
		height: 15px;
	}
	.search {
		margin-top: 5px;
		width: 100%;
	}
	.myName {
		font-size: 1.8em;
	}
	.oneUnit {
		margin-bottom: 10px;
	}
	a.unitName, a.staticUnit {
		font-size: 1.4em;
	}
	a.unitName:hover, a.staticUnit:hover {
		font-size: 1.6em;
	}
	.typeRadio span {
		font-size: 1.2em;
	}
	.wordEditIn {
		font-size: 1.2em;
		width: 100%;
		text-align: left;
	}
	.spisword {
		font-size: 1.1em;
	}
	.div_result_send {
		padding: 0 2%;
		font-size: 1.1em;
	}
	.btm_big1 {
		height: 40px;
		width: 100%;
	}
	.size {
		width: 100%;
		height: 200px;
	}
	.center {
		font-size: 1.2em;
	}
	.rnmText {
		width: 100%;
	}
	.btm_big2 {
		margin-top: 5px;
		height: 40px;
		width: 80%;
		font-size: 1.2em;
	}
	footer {
		width: 94%;
	}
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	body .start {
		width: 94%;
	}
	.head1 {
		font-size: 1.4em;
		line-height: 30px;
		min-height: 0;
	}
	.main {
		width: 95%;
	}
	.unitAdd {
		width: 100%;
	}
	.btmFile {
		text-align: center;
		width: 50%;
		margin-top: 5px;
		float: none;
	}
	span.file {
		font-size: 1.1em;
	}
	.div_result_send {
		padding: 0 2%;
		font-size: 1.1em;
	}
	.formHand input[type=text] {
		height: 40px;
		width: 100%;
	}
	.formHand input[type=submit] {
		height: 40px;
		margin-top: 5px;
		width: 50%;
		float: none;
	}
	p, .error {
		font-size: 1.2em;
	}
	.search {
		margin-top: 5px;
		width: 100%;
	}
	.myName {
		font-size: 2em;
	}
	.oneUnit {
		margin-bottom: 10px;
	}
	a.unitName, a.staticUnit {
		font-size: 1.5em;
	}
	a.unitName:hover, a.staticUnit:hover {
		font-size: 1.7em;
	}
	.wordEditIn {
		font-size: 1.3em;
		width: 100%;
		text-align: left;
	}
	.size {
		width: 100%;
		height: 200px;
	}
	.center {
		font-size: 1.3em;
	}
	.rnmText {
		width: 100%;
	}
	.spisword {
		font-size: 1.1em;
	}
	.btm_big2 {
		margin-top: 5px;
		height: 40px;
		width: 80%;
		font-size: 1.3em;
	}
	footer {
		width: 94%;
	}
}

@media screen and (min-width: 480px) and (max-width: 720px) {
	body .start {
		width: 94%;
	}
	.main {
		width: 95%;
	}
	p, .error {
		font-size: 1.4em;
	}
	.btmFile {
		width: 35%;
	}
	.formHand input[type=text] {
		width: 65%;
	}
	.formHand input[type=submit] {
		width: 35%;
	}
	.btm_font {
		font-size: 0.8em;
	}
	.oneUnit {
		margin-bottom: 10px;
	}
	a.unitName, a.staticUnit {
		font-size: 2em;
	}
	a.unitName:hover, a.staticUnit:hover {
		font-size: 2em;
	}
	.spisword {
		font-size: 1.3em;
	}
	.wordEditIn {
		font-size: 1.6em;
		width: 100%;
		text-align: left;
	}
	.size {
		width: 100%;
	}
	footer {
		width: 94%;
	}
}

@media screen and (min-width: 720px) and (max-width: 940px) {
	p, .error {
		font-size: 1.4em;
	}
	.btm_font {
		font-size: 0.8em;
	}
	.oneUnit {
		margin-bottom: 10px;
	}
	.spisword {
		font-size: 1.4em;
	}
	.wordEditIn {
		width: 100%;
		text-align: left;
	}
}