body {
	background-attachment: fixed;
	background-image: url('../img/bcg.jpg');
	background-size: 100%;
	width: 100%;
	margin-bottom: -1px;
	margin-top: -1px;
	margin-left: -0.5px;
	min-width: 180px;
}

body .start {
	height: 100%;
	overflow: auto;
	background: rgba(68, 69, 69, 0.95);
	max-width: 1400px;
	width: 90%;
	margin: 0 auto;
}

.head1 {
	font-family: "BeerRegular";
	font-size: 2.5em;
	line-height: 45px;
	min-height: 50px;
	background: rgb(199, 18, 21);
	display: block;
	padding-left: 3%;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: -4px;
}

a:visited, a:link {
	text-decoration: none;
}

.main {
	width: 80%;
	margin: 0 auto;
	min-height: 350px;
}

.unit { //
	background: rgb(105, 3, 3);
	border-radius: 10px;
	padding: 1%;
	margin-top: 5%;
}

.cntr {
	width: 50%;
	margin: 5% auto;;
}

.result {
	text-align: center;
	font-size: 1.3em;
}

.unit input[type=email] {
	font-size: 1.3em;
	display: block;
	height: 40px;
	width: 80%;
	margin: 5% auto;
}

.btn {
	display: block;
	width: 70%;
	max-width: 300px;
	margin: 0 auto;
}

.btm_big {
	display: block;
	height: 50px;
	width: 50%;
	margin: 0 auto;
	font-size: 0.9em;
}

.div_result_send {
	padding: 0 3%;
	text-align: center;
	font-size: 1.4em;
}

footer {
	width: 90%;
	height: 50px;
	background: rgb(199, 18, 21);
	margin: 0 auto;
	max-width: 1400px;
}

footer div {
	width: 100%;
	line-height: 50px;
	padding: 0 2%;
}

.l {
	width: 50%;
	display: inline-block;
	float: left;
}

.r {
	width: 50%;
	text-align: right;
	display: inline-block;
	float: right;
}

@media screen and (max-width: 200px) {
	.head1, .head2 {
		display: none;
	}
	.main .head {
		margin: 1%;
		padding: 1%;
		font-size: 1.2em;
	}
}

@media screen and (max-width: 280px) {
	body .start {
		width: 100%;
	}
	.main {
		width: 100%;
	}
	.cntr {
		width: 100%;
		margin: 0;
	}
	.result {
		text-align: center;
		font-size: 1em;
	}
	.unit input[type=password], .unit input[type=email] {
		font-size: 1.1em;
		display: block;
		height: 40px;
		width: 100%;
		margin: 10px auto;
	}
	.btn {
		width: 90%;
		margin: 0 auto;
	}
	.btm_big {
		width: 100%;
		height: 40px;
	}
	.div_result_send {
		padding: 0 2%;
		font-size: 1.1em;
	}
	footer {
		width: 100%;
	}
}

@media screen and (min-width: 200px) and (max-width: 280px) {
	.head1 {
		font-size: 1.3em;
		line-height: 30px;
		min-height: 0;
	}
}

@media screen and (min-width: 280px) and (max-width: 490px) {
	body .start {
		width: 94%;
	}
	.head1 {
		font-size: 1.4em;
		line-height: 30px;
		min-height: 0;
	}
	.cntr {
		width: 100%;
		margin: 0;
	}
	.result {
		font-size: 1.1em;
	}
	.div_result_send {
		padding: 0 2%;
		font-size: 1.1em;
	}
	.unit input[type=password], .unit input[type=email] {
		font-size: 1.1em;
		display: block;
		height: 40px;
		width: 100%;
		margin: 10px auto;
	}
	.btm_big {
		width: 100%;
		height: 40px;
	}
	footer {
		width: 94%;
	}
}

@media screen and (min-width: 490px) and (max-width: 720px) {
	.head1 {
		font-size: 1.4em;
		line-height: 30px;
		min-height: 0;
	}
	.cntr {
		width: 100%;
		margin: 0;
	}
	.unit input[type=password], .unit input[type=email] {
		font-size: 1.2em;
		display: block;
		height: 40px;
		width: 80%;
		margin: 10px auto;
	}
	.btm_big {
		width: 50%;
	}
}

@media screen and (min-width: 720px) and (max-width: 1000px) {
	.cntr {
		width: 70%;
		margin: 0 auto;
	}
	.unit input[type=password], .unit input[type=email] {
		display: block;
		height: 40px;
		width: 80%;
	}
	.btm_big {
		width: 51%;
	}
}